@font-face {
    font-family: 'sansFont';
    src: url('../assets/font/UndertaleSans.ttf') format('truetype');
}

* {
    font-family: 'sansFont', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: solid 10px #ffffff;
    background: #000000;
    padding: 40px 60px;
}

.mainJogo {
    width: 430px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

h2 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.resetJogo {
    text-decoration: none;
    border: 6px solid rgb(228, 216, 0);
    color: rgb(228, 216, 0);
    background-color: transparent;
    font-size: 1.5rem;
    padding: 7px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: 0.30s;
}

.resetJogo:hover {
    cursor: pointer;
    background-color: rgb(228, 216, 0);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item.areaRevelar {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #ffffff;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.areaRevelar::after,
.areaCombinada::after {
    transform: rotateY(180deg);
}

.mensagemVitoria {
    color: rgb(228, 216, 0);
    transition: 1s;
    display: none;
    padding: 50px;
    align-items: center;
    justify-content: center;
    height: 15%;
    border: 10px solid rgb(228, 216, 0);
    background: #000;
    width: 25%;
    position: fixed;
    z-index: 1;
}