@font-face {
    font-family: 'sansFont';
    src: url('../assets/font/UndertaleSans.ttf') format('truetype');
}

* {
    font-family: 'sansFont', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(80, 0, 90);
}

::-webkit-scrollbar-thumb {
    color: #5c3e8d;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#000, #2b1055);
}

.btnAction {
    border: 6px solid #16a0ff;
    border-radius: 25px;
    border-color: #fff;
    background: #fff;
    color: #2b1055;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    width: 400px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    transition: 0.25s;
}

header ul li a:hover,
header ul li a.ativo {
    color: #000000;
    border-color: #16a0ff;
    background-color: transparent;
    background: #16a0ff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#imgLua {
    mix-blend-mode: screen;
}

section img#imgMontanhaFront {
    z-index: 10;
}

#textoBoasVindas {
    position: absolute;
    right: -350px;
    color: #fff;
    font-size: 7.5vw;
    z-index: 9;
}

#botao {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px;
    background: #000;
}

.sec h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 25px;
    color: #fff;
}

.conteudoBox {
    /* margin-left: 15%; */
    width: 70%;
    padding: 10px;
    border: 10px solid #ffffff;
    margin-bottom: 3%;
}


.conteudo__img {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    padding: 10px;
}

.undertale {
    background-image: url(../assets/img/undertaleWallpaper.jpg);
}

.hollowKnight {
    background-image: url(../assets/img/hollowKnightWallpaper.jpg);
}

.zelda {
    background-image: url(../assets/img/zeldaWallpaper.jpg);
}

.minecraft {
    background-image: url(../assets/img/minecraftWallpaper.jpg);
}