body{
    /* min-height: 100vh; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2b1055, #082258);
    justify-content: center;
    color: #ffffff;
}

.headerUser {
    background-color: indigo;
    text-align: center;
    padding: 20px;
}

.hello {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
    display: flex;
    padding: 100px;
}

.telaConteudo {
    font-size: 1.3rem;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    font-size: 25px;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    transition: 0.50s;
}

/* header ul li a:hover,
header ul li a.ativo{
    border-bottom: 3px solid #fff;
} */

header {
    position: relative;
    padding-bottom: 20px;
  }
  
  header::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  ul:hover header::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* .btnUser {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 2px solid #09c5eb;
} */