body{
    /* min-height: 100vh; */
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2b1055, #082258);
    justify-content: center;
    color: #ffffff;
}

.headerUser {
    background-color: indigo;
    text-align: center;
    padding: 20px;
}

.hello {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.telaConteudo {
    /* justify-content: center; */
    /* flex-direction: row ; */
    transition: margin 0.5s ease-in-out;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li .btnUser{
    border: none;
    background-color: transparent;
    font-size: 50px;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    transition: 0.35s;
}

header {
    position: relative;
    padding-bottom: 20px;
  }

.btnUser:hover {
    cursor: pointer;
    border-radius: 25px;
    border-bottom: 5px solid #ffffff;
    /* border-bottom: 2px solid #09c5eb; */
}


h1 {
    font-size: 4rem;
    line-height: 2.4;
}

table {
    margin-top: -30%;
    width: 22%;
    align-self: center;
}

tr, td {
    justify-content: center;
    padding: 5px;
    border: 2px solid #ffffff;
}

.btnRedirect {
    /* margin-left: -300px; */
    /* margin-top: 230px; */
    height: 40px;
    padding: 10px;
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
    justify-self: center;
    display: flex;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    transition: 0.50s;
}

.btnRedirect:hover {
    background-color: #ffffff;
    color: #082258;
}