@font-face {
    font-family: 'sansFont';
    src: url('../assets/font/UndertaleSans.ttf') format('truetype');
  }

body{
    font-family: 'sansFont', sans-serif;
    overflow: hidden;
    background: #000;
    justify-content: center;
    color: #ffffff;
}

.btnAction {
    color: rgb(228, 216, 0);
    background-color: transparent;
    border: 6px solid rgb(228, 216, 0);
}

.spanUser {
    color: rgb(234, 255, 0);
}

.header {
    border: solid 10px #ffffff;
    padding: 20px;
    font-size: 2.5rem;
}

.telaConteudo {
    justify-content: center;
    flex-direction: row ;
    transition: margin 0.5s ease-in-out;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li .btnUser{
    margin-top: 80%;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    padding: 6px 15px;
    transition: 0.35s;
}

table {
    margin-top: -25%;
    width: 22%;
    align-self: center;
    align-items: center;
}

tr, td {
    justify-content: center;
    padding: 5px;
    border: 2px solid #ffffff;
}

.btnRedirect {
    text-align: center;
    margin-top: 5%;
    justify-content: center;
    height: 40px;
    padding: 10px;
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
    display: flex;
    transition: 0.50s;
}