* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #faebd7;
    overflow: hidden;
    text-align: center;
    /* fonte dps q acabar o resto :) */
    background-color: #1e1f26;
}

h1 {
    font-size: 4rem;
    line-height: 2.4;
}

.botao {
    border: 0;
    outline: 2px solid #ffffff;
    outline-offset: 3px;
    border-radius: 2px;
    color: #ffffff;
    background-color: transparent;
    font-size: 2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: 0.25s;
}

.botao:hover {
    cursor: pointer;
    color: rgb(0, 166, 255);
    transition: 0.25s;
    outline: 2px solid rgb(0, 166, 255);
}

.telaJogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-in-out;
    background-color: #011623;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.lista li {
    margin: 10px;
}

.telaFinal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.telaFinal div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.telaFinal div span {
    margin-left: 10px;
    color: #3f77f1;
}

.vidas {
    display: flex;
    gap: 10px;
    align-items: center;
}

.vidas .coracao {
    width: 40px;
}

.vidas .coracao.morte {
    opacity: 0.5;
}

.borda {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex: 1;
    background-color: #031e3e;
    overflow: hidden;
}


.opcoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.circulo {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: cyan;
    animation: circulo 2s linear forwards;
    border-radius: 50%;
}

.resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

.resultado p {
    font-size: 2rem;
}

.resultado p span {
    color: #3f77f1;
    margin-left: 10px;
}


@keyframes circulo {
    100% {
        transform: scale(0);
    }
}

/* Responsividade */

@media (max-width: 760px) {
    h1 {
        font-size: 2rem;
    }

    .botao {
        font-size: 1rem;
    }

    .telaFinal {
        gap: 20px;
        flex-direction: column;
    }

    .telaFinal div {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .vidas {
        margin-bottom: 10px;
    }
}